
<ion-side-menus ng-class="ThemeCssClass" class="view {{directionClass}}">
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-calm"
                     animation="nav-title-slide-ios7">
            <ion-nav-buttons side="{{directionAttr}}">
                <div ng-if="isIos && showIosBackButton">
                    <ion-nav-back-button class="button-clear">
                        <i class="button icon-{{directionAttr}} ion-chevron-{{directionAttr}} button-clear"></i>
                    </ion-nav-back-button>
                </div>
            </ion-nav-buttons>
            <ion-nav-buttons side="{{directionAttr}}">
                <button menu-toggle="{{directionAttr}}" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <div class="error-bar" ng-if="hasError">
            <img src="images/connection-error.png" />
            {{error}}
        </div>
        <div id="pushNotificationMessage" clear-on-click></div>
        
        <ion-nav-view name="main" animation="slide-left-right"></ion-nav-view>

    </ion-pane>

    <ion-side-menu side="{{directionAttr}}" ng-class="menuClass">
        <header class="bar bar-header bar-assertive theme-2">
            <div class="title"></div>
        </header>
        <ion-content class="has-header">
            <ion-list class="main-menu">
                <a nav-clear ui-sref="{{menu.sref}}" class="item" ng-repeat="menu in menus" ng-click="toggleMenu()">
                    <span class="list-icon"><img ng-src="{{menu.menuIcon}}" /></span>
                    <span class="list-name">{{menu.Name}}</span>

                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
