<ion-view title="{{menu.Name}}" >
  <ion-content class="has-header">
      <ion-refresher pulling-text="Pull To Refresh" on-refresh="refreshItems()"
                     refreshing-text="" refreshing-icon="none">
      </ion-refresher>
      <ion-list>
          <a ui-sref="{{menu.sref}}" class="item sub-menu" ng-repeat="menu in menu.Children">
              <span class="submenu-list-icon"><img ng-src="{{menu.menuIcon}}" /></span>
              <span class="list-name">{{menu.Name}}</span>
          </a>
      </ion-list>
       <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="0%" icon="none"></ion-infinite-scroll>
  </ion-content>
</ion-view>
